---
---
<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Gugi' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet'>
    <style>
      nav {
        background-color:white;
        padding:3px 0px;
        display:flex;
      }
      nav a {
        color:white;
        text-decoration:none;
        background-color:teal;
        padding:10px;
        margin-left:3px;
      }
      .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }
    </style>
  </head>
  <body style="margin:0px;padding:0px;font-family:Orbitron;">
    {% include header.html %}
    {{content}}
    <div class="clearfix" style="margin:20px">
    <h2>The Host</h2>
    <img src="images/gustaf.jpg" alt="Gustaf" style="width:300px;height:400px;float:right;margin:30px">
    <p>To assist you in your adventures, we have appointed our trusted long-time employee, Gustaf, to oversee the arcade. Gustaf is in charge of anything going on inside the arcade hall. He may be summoned by simply saying "Help, please!" out loud and he will try to be of assistance in any way he can. Any questions or issues can be voiced to him this way, or can be taken at the reception desk.</p>
    <h2>The Axiom Arcade</h2>
    <p>The Axiom Arcade is a joint venture started by Hollow Games and Gregarious Simulation Systems. The Axiom Arcade allows users to do, see, feel and experience anything they could ever imagine. 
      At the arcade you will find arcade cabinets for a wide arrange of video games, including games such as Minecraft, Pac-Man, The Elder Scrolls, Chants of Sennaar, Firewatch, Super Mario Galaxy, Tetris, Portal and Hollow Night. 
      In our lounge you will find all necessary facilities to play a variety of board games like Spirit Island, D&D, Mastermind, The Crew, Carcassonne, Uno, Apocalypse World and Monopoly. 
      Additionally, we provide several access points to The Hollow, the OASIS, the Matrix, the simulator, and more! 
      It is a place to meet up with old friends or to meet new ones, a place for relaxing or for thrills, a place to forget about life for a while and be fully immersed in whatever adventure you want to go on next.</p>
    <h2>Contact</h2>
    <p>The easiest and quickest way for us to assist you is for you to stop by the reception desk at the arcade. We are open 24 hours a day, 7 days a week, all year round! Alternatively, you can reach us at <a href="mailto:info@axiomarcade.sbs">info@axiomarcade.sbs</a>.
    </div>
    {% include footer.html %}
    {{content}}
  </body>
</html>
