---
---
<!DOCTYPE html>
<html>
  <head>
    <title>TTRPGs | The Axiom Arcade</title>
    <link href='https://fonts.googleapis.com/css?family=Gugi' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet'>
    <style>
      html, body {
        margin:0px;
        padding:0px;
        min-height:100vh;
        display:flex;
        flex-direction:column;
        font-family:Orbitron;
      }
      nav {
        background-color:white;
        padding:3px 0px;
        display:flex;
      }
      nav a {
        color:white;
        text-decoration:none;
        background-color:teal;
        padding:10px;
        margin-left:3px;
      }
      main {
        margin: 20px;
        flex: 1 0 auto;
      }
    </style>
  </head>
  <body>
    {% include header.html %}
    {{content}}
    <main>
      <h2>Role-playing</h2>
      <p>This site is currently a W.I.P.<br>
        More information will be added soon.
      </p>
      <h2>Books, dice and other materials</h2>
      <p>
        The arcade can provide everything you need to dive head-first into an adventure. Feel free to make use of any materials available at the arcade.<br> 
        Upon request, resources are available for personal use for the following ttrpg systems:
        <ul>
          <li>D&D 5e</li>
          <li>Pathfinder 2e</li>
          <li>Apocalypse World</li>
          <li>Doctor Who: Adventures in Time and Space</li>
          <li>Tales of Xadia</li>
          <li>Magical Kitties Save the Day</li>
        </ul>
      </p>
    </main>
    {% include footer.html %}
    {{content}}
  </body>
</html>
