---
---
<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Gugi' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet'>
    <style>
      nav {
        background-color:white;
        padding:3px 0px;
        display:flex;
      }
      nav a {
        color:white;
        text-decoration:none;
        background-color:teal;
        padding:10px;
        margin-left:3px;
      }
    </style>
  </head>
  <body style="min-height:100%;margin:0px;padding:0px;display:flex;flex-diraction:column;font-family:Orbitron;">
    {% include header.html %}
    {{content}}
    <div style="margin:20px">
    <h1>Hi there!</h1>
    <p>This site is currently a W.I.P.</p>
    </div>
    {% include footer.html %}
    {{content}}
  </body>
</html>
