<footer style="background-color:teal;padding:10px">
  <div style="display:flex">
    <div style="margin-left:40px">
      <p style="color:white;text-decoration:none">
        <a href="index.html" style="color:white">HOME</a><br>
        <a href="minecraft.html" style="color:white">MINECRAFT</a><br>
        <a href="dnd.html" style="color:white">D&D</a><br>
        <a href="about.html" style="color:white">ABOUT</a>
      </p>
    </div>
    <div style="width:100%"></div>
    <div style="margin-right:40px">
      <p style="color:white">Contact: <a href="mailto:info@axiomarcade.sbs" style="color:white">info@axiomarcade.sbs</a></p>
    </div>
  </div>
</footer>
